@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  font-family: "Outfit" , sans-serif;
}

.selectedDiv{
  border-bottom-right-radius: -10px;
  border-top-right-radius: -10px;
}